
@{
    ViewBag.Title = "QuanLi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("Quản lí tài khoản", "Index", "TaiKhoan")</p>
<p>@Html.ActionLink("Quản lí tour", "Index", "Tours")</p>
<p>@Html.ActionLink("Quản lí hóa đơn", "Index", "HoaDon")</p>

